
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:wght@400;500&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity: 100;
    }
}
@keyframes appear-right{
    from{
        margin-left:300px;
        opacity: 0;
    }
}
@keyframes fill{
    from{
        width: 0%;
    }
}
p{
    margin:0;
}
a{
    text-decoration: none;
    color:rgb(77, 77, 77);
    padding:5px;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 !important;
}
.dev{
    position: absolute;
    left:0;
    top:0;
}
.present-box{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101vh;
}
.present-box-first{
    display: flex;
}
.invisible{
    opacity: 0;
}
.highlight{
    color: rgb(77, 255, 225) !important;
}
.present-text{
    color: white;
    margin-bottom: 5px;
    font-size: 45px;
    animation: fade-in 1.5s;
}
.margin{
    margin-top: 0px;
}
.scroll-btn{
    animation: fade-in 1.5s;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
    border: 0;
    padding:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    color:white;
    transition: background-color 0.5s, border 0.5s;
    border-radius: 5px;
}
.scroll-btn:hover .arrow{
    transform: rotate(90deg);
}
.scroll-btn:hover{
    background-color: rgb(0, 122, 204);
    border: 2px solid rgb(0, 122, 204); 
}
.present-text-last{
    margin-bottom: 100px;
}
.arrow{
    transition: transform 0.3s;
    margin-left: 15px;
}
.about-box{
    padding:5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    /* height: 90vh; */
    align-items: center;
}
.about-text-box{
    grid-area: textbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    animation:fade-in 1s;
    margin-top: 15px;
    font-size: 40px;
}
.who-box{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding:15px;
    grid-area:who;
}
.who-text:nth-of-type(1){
    animation:fade-in 1s;
    grid-area: text;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.who-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar{
    max-height: 350px;
    animation:fade-in 1s;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    margin-right: 25px;
}
.underline{
    border-radius: 5px;
    animation: appear-right 0.8s;
    height: 10px;
    width: 60px;
    background-color: teal;
}
.line-box{
    display:flex;
    margin-bottom: 10px;
}
.line-name-box{
    width: 120px;
    background-color: rgb(0, 67, 71);
}
.line-name-text{
    margin-bottom: 0;
    text-align: center;
    color:white;
}
.line-fill-box{
    display:flex;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    background-color: rgb(209, 209, 209);
}
.percentage-text{
    padding-right: 5px;
    animation:fade-in 1s;
}
.line-fill{
    background-color: teal;
    animation: fill 1s;
}
.skills{
    padding:5px;
    padding-right: 0;
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.skill-box{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: skill;
}
.skill-box-1{
    width: 48%;
}
.skill-box-2{
    width: 48%;
}
.skill-text{
    color:rgb(0, 0, 0);
    animation:fade-in 1s;
    font-size: 30px;
    margin-bottom: 20px;
}
.project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
}
.project-box-2{
    margin-top: 10px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,33.3333333%);
    align-items: center;
    grid-gap: 60px 0;
    margin: 35px 0;
}
.project-text-box{
    grid-area: text;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.project-text{
    animation:fade-in 1s;
    margin-top: 15px;
    font-size: 40px;
}
.link{
    cursor: pointer;
    color: rgb(23, 116, 0);
    text-decoration: underline;
}
.project{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 45px; */
    /* border: 1px solid black; */
}
.project *{
    cursor: pointer;
}
.project-name{
    font-size: 25px;
    font-weight: 600;
    color: rgb(31, 31, 31);
}
.project-used{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(0, 67, 71);
}
.img-box{
    z-index: 20;
    display:flex;
    flex-wrap: nowrap;
}
.img{
    opacity: 0.65;
    max-height: 350px;
    margin-right: 10px;
    transition: max-height 0.5s, opacity 0.5s;
}
.img-box:hover img{
    max-height: 420px;
    opacity: 1;
}
.exp-box{
    margin-bottom: 35px;
    padding:15px;
}
.exp-name{
    animation:fade-in 1s;
    grid-area: text;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.exp-text{
    animation:fade-in 1s;
    grid-area: text;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.contact-text{
    color:white;
    animation:fade-in 1s;
    grid-area: text;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}
.contact-box{
    display:flex;
    flex-direction: column;
    background-color: rgb(2, 25, 59);
}
.contact-icon-box{
    display:flex;
    min-height: 15vh;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.contact-icon{
    height: 100px;
    background-color: white;
}
.contact-link{
    padding: 0 !important;
    box-sizing: border-box;
}
.modal-custom{
    margin: 0 auto;
    max-width: 80vw !important;
    min-height: 70vh !important;
}
.m-body{
    display: flex;
    /* align-items: center; */
}
.m-content{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.m-img{
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    margin-right: 10px;
}
.m-name{
    font-size: 40px;
}
.m-text{
    font-size: 30px;
}
/* .modal-custom .modal-content{
    width: 80vw;
} */
@media only screen and (max-width: 1100px) and (min-width: 700px){
    .project-box-2{
        grid-template-columns: repeat(2, 50%) !important;
    }
    .about-box{
        width: 100%;
    }
    .skill-box-1{
        padding-left: 10px;
    }
    .skill-box-2{
        padding-right: 10px;
    }
}
@media only screen and (max-width:850px) and (min-width:701px){
    .img-box:hover img{
        opacity: 1 !important;
        max-height: 300px;  
    }
    .project-used{
        font-size: 15px;
    }
    .project-box-2{
        grid-template-columns: repeat(1, 100%) !important;
    }
    .img{
        opacity: 100;
        max-height: 300px;
    }
}
@media only screen and (max-width: 700px){
    .contact-icon{
        height: 65px;
    }
    .about-box{
        width: 95%;
    }
    .scroll-btn{
        padding:15px;
        font-size: 15px;
    }
    .present-text{
        font-size: 26px;
    }
    .img-box:hover img{
        opacity: 1 !important;
        max-height: 300px;  
    }
    .project-used{
        font-size: 15px;
    }
    .project-box-2{
        grid-template-columns: repeat(1, 100%) !important;
    }
    .img{
        opacity: 100;
        max-height: 300px;
    }
    .about-box{
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 40vh 10vh 30vh auto;
        grid-template-areas: 
        "textbox "
        "who"
        "skill"
        "skill-1"
        "skill-2";
    }
    .who-text-1, .exp-text{
        font-size: 25px !important;
    }
    .avatar{
        max-height: 250px;
    }
    .skills{
        flex-direction: column;
    }
    .skill-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        grid-area: skill;
    }
    .skill-box-1{
        width: 98%;
        grid-area: skill-1;
    }
    .skill-box-2{
        width: 98%;
        grid-area: skill-2;
    }
}
@media only screen and (max-width: 1050px){
    img{
        opacity: 1 !important;
    }
    .img-box:hover img{
        opacity: 1;
    }
}